/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    
    .expanded {
        @apply  font-montserrat font-bold bg-white dark:bg-[#0d0f14] z-[1] md:hidden absolute top-6 right-0  w-[50vw] h-[40vh] border-2 rounded-md  list-none flex flex-col justify-center items-center gap-8 ;
    }

    .md-nav {
        @apply hidden md:static  list-none md:flex  md:h-auto md:flex-row md:w-fit md:rounded-none md:border-0 md:my-0  gap-8 items-center;
    }
}

@layer utilities {
    

    @media (min-width: 1024px) {
    
        #custom-grid > div:nth-child(5n+1) {
            grid-column: 1 / span 8;
        }
        #custom-grid > div:nth-child(5n+2) {
            grid-column: 9 / span 4;
        }
        #custom-grid > div:nth-child(5n+3) {
            grid-column: 1 / span 3;
        }
        #custom-grid > div:nth-child(5n+4) {
            grid-column: 4 / span 6;
        }
        #custom-grid > div:nth-child(5n) {
            grid-column: 10 / span 3;
        }
    }
    
}

