---
import BaseLayout from '../../layouts/BaseLayout.astro';
import BlogPostHeading from '../../components/BlogPostHeading.astro';
const pageTitle = "Tag Index"
const allPosts = await Astro.glob('../posts/*.mdx');
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())];
---
<BaseLayout pageTitle={pageTitle}>
<div class="flex flex-col font-lora pt-12 max-w-3xl mx-auto text-lg md:text-xl md:leading-8">
  <BlogPostHeading title={pageTitle}/>
  <br>
  <div class="pt-4">
    {tags.map((tag) => (
      <p><a href={`/tags/${tag}`}>{tag}</a></p>
      <br>
    ))}
  </div>
</div>
