---

import Navigation from "./Navigation.astro";
---

<header class=" sticky top-0 z-50 py-4 md:py-8 w-full flex justify-between border-b px-4 backdrop-filter backdrop-blur-lg">
    <div class="text-2xl font-bold "><a href="/">Aniruddha's Blogs </a></div>
    <Navigation></Navigation>
</header>
